<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="logistics_update_country" xsi:type="object">
                    Lovevox\Logistics\Console\Command\UpdateCountryCommand
                </item>
                <item name="logistics_update_carrier" xsi:type="object">
                    Lovevox\Logistics\Console\Command\UpdateCarrierCommand
                </item>
                <item name="logistics_update_track" xsi:type="object">
                    Lovevox\Logistics\Console\Command\UpdateOrderTrackCommand
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="logistics_order_track_grid_data_source" xsi:type="string">
                    Lovevox\Logistics\Model\ResourceModel\History\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
